.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashboard span{
    margin: 2em 0;
    font-weight: 600;
    font-size: 1.2em;
}

.novo{
    float: right;
    margin-bottom: 1.5em;
    background-color: #83bf02;
    color: white;
    border: 0;
    padding: 0.5em;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.1em;
    transition: ease-in .2s;
}
.novo svg{
    margin-right: 5px;
}
.novo:hover{
    background-color: #5fd204;
    transform: scale(1.1);
}